<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.mapper.CategoryMapper">
    <resultMap id="categoryBean" type="Category">
        <id column="id" property="id"/>
        <collection property="products" column="id" ofType="Product" select="com.tmall.mapper.ProductMapper.listByCid"/>
    </resultMap>

    <select id="selectAll" resultMap="categoryBean">
        select *
        from category_
    </select>

    <select id="total" resultType="int">
        select count(*)
        from category_
    </select>

    <insert id="insert" parameterType="Category" keyProperty="id" useGeneratedKeys="true">
        insert into category_
        values (null, #{name})
    </insert>

    <delete id="delete" parameterType="int">
        delete
        from category_
        where id = #{0}
    </delete>

    <update id="update" parameterType="Category">
        update category_
        set name = #{name}
        where id = #{id}
    </update>

    <select id="get" parameterType="int" resultMap="categoryBean">
        select *
        from category_
        where id = #{0}
    </select>

</mapper>