<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.mapper.OrderItemMapper">
    <resultMap id="orderItemBean" type="com.tmall.model.OrderItem">
        <association property="product" javaType="Product" column="pid" select="com.tmall.mapper.ProductMapper.get"/>
    </resultMap>

    <select id="list" resultMap="orderItemBean">
        select *
        from orderItem_
    </select>

    <select id="total" resultType="int">
        select count(*)
        from orderItem_
    </select>

    <insert id="insert" parameterType="OrderItem" keyProperty="id" useGeneratedKeys="true">
        insert into orderItem_
        values (null, #{pid}, #{oid}, #{uid}, #{number})
    </insert>

    <delete id="delete" parameterType="int">
        delete
        from orderItem_
        where id = #{0}
    </delete>

    <update id="update" parameterType="OrderItem">
        update orderItem_
        set number = #{number}
        where id = #{id}
    </update>

    <select id="get" parameterType="int" resultMap="orderItemBean">
        select *
        from orderItem_
        where id = #{0}
    </select>

    <select id="listByOid" parameterType="int" resultMap="orderItemBean">
        select *
        from orderItem_
        where oid = #{0}
    </select>

    <select id="listByUid" parameterType="int" resultMap="orderItemBean">
        select *
        from orderItem_
        where pid = #{0}
    </select>

</mapper>