<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.mapper.OrderMapper">
    <resultMap id="orderBean" type="com.tmall.model.Order">
        <id column="id" property="id"/>
        <result column="uid" property="uid"/>
        <association property="user" javaType="User" column="uid"
                     select="com.tmall.mapper.UserMapper.get"/>
        <collection property="orderItems" column="id" ofType="OrderItem"
                    select="com.tmall.mapper.OrderItemMapper.listByOid"/>
    </resultMap>

    <select id="list" resultMap="orderBean">
        select *
        from order_
    </select>

    <select id="total" resultType="int">
        select count(*)
        from order_
    </select>

    <insert id="insert" parameterType="Order" keyProperty="id" useGeneratedKeys="true">
        insert into order_
        values (null,
                #{orderCode},
                #{address},
                #{post},
                #{receiver},
                #{mobile},
                #{userMessage},
                current_time,
                #{payDate},
                #{delivery},
                #{confirmDate},
                #{uid},
                #{status})
    </insert>

    <delete id="delete" parameterType="int">
        delete
        from order_
        where id = #{0}
    </delete>

    <update id="update" parameterType="Order">
        update order_
        <set>
            <if test="orderCode != null">
                orderCode = #{orderCode},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="post != null">
                post = #{post},
            </if>
            <if test="receiver != null">
                reciver = #{receiver},
            </if>
            <if test="mobile != null">
                mobile = #{mobile},
            </if>
            <if test="userMessage != null">
                userMessage = #{userMessage},
            </if>
            <if test="payDate != null">
                payDate = #{payDate}
            </if>
            <if test="deliveryDate != null">
                deliveryDate = #{deliverDate}
            </if>
            <if test="confirmDate != null">
                confirmDate = #{confirmDate}
            </if>
            <if test="uid !=null">
                uid = #{uid}
            </if>
            <if test="status !=null">
                'status' = #{status}
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="get" parameterType="int" resultMap="orderBean">
        select *
        from order_
        where id = #{0}
    </select>

    <select id="listByUid" parameterType="int" resultMap="orderBean">
        select *
        from order_
        where uid = #{0}
    </select>

</mapper>