<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.mapper.ProductMapper">
    <resultMap id="productBean" type="Product">
        <id column="id" property="id" />
        <result column="cid" property="cid" />
        <association property="category" column="cid" javaType="Category"
                     select="com.tmall.mapper.CategoryMapper.get"/>
        <collection property="singleProductImages" column="id" ofType="ProductImage"
                    select="com.tmall.mapper.ProductImageMapper.listByPidAndTypeSingle" />
        <collection property="detailProductImages" column="id" ofType="ProductImage"
                    select="com.tmall.mapper.ProductImageMapper.listByPidAndTypeDetail" />
    </resultMap>

    <select id="selectAll" resultMap="productBean">
        select *
        from product_
    </select>

    <select id="total" resultType="int">
        select count(*)
        from product_
    </select>

    <insert id="insert" parameterType="Product" keyProperty="id" useGeneratedKeys="true">
        insert into product_
        values (null, #{name},#{subTitle},#{originalPrice},#{promotePrice},#{stock},#{cid},current_time);
    </insert>

    <delete id="delete" parameterType="int">
        delete
        from product_
        where id = #{0}
    </delete>

    <update id="update" parameterType="Product">
        update product_
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="subTitle != null">
                subTitle = #{subTitle},
            </if>
            <if test="originalPrice != null">
                originalPrice = #{originalPrice},
            </if>
            <if test="promotePrice != null">
                promotePrice = #{promotePrice},
            </if>
            <if test="stock != null">
                stock = #{stock}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="get" parameterType="int" resultMap="productBean">
        select *
        from product_
        where id = #{0}
    </select>

    <select id="listByCid" parameterType="int" resultMap="productBean">
        select *
        from product_
        where cid = #{0}
    </select>

    <select id="listByKeyWord" parameterType="String" resultMap="productBean">
        select * 
        from product_
        where cid
    </select>

</mapper>