<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.mapper.ProductImageMapper">
    <resultMap id="productImageBean" type="ProductImage">
        <result column="pid" property="pid" />
        <association property="product" javaType="Product" column="pid" select="com.tmall.mapper.ProductMapper.get"/>
    </resultMap>

    <select id="list" resultMap="productImageBean">
        select *
        from productImage_
    </select>

    <insert id="insert" parameterType="ProductImage" keyProperty="id" useGeneratedKeys="true">
        insert into productImage_
        values (null, #{pid},#{type})
    </insert>

    <delete id="delete" parameterType="int">
        delete
        from productImage_
        where id = #{0}
    </delete>

    <update id="update" parameterType="ProductImage">
        update productImage_
        <set>
            <if test="pid != null">
                pid = #{pid}
            </if>
            <if test="type != null">
                type = #{type}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="get" parameterType="int" resultMap="productImageBean">
        select *
        from productImage_
        where id = #{0}
    </select>

    <select id="listByPid" parameterType="int" resultMap="productImageBean">
        select *
        from productImage_
        where pid = #{0}
    </select>

    <select id="listByPidAndTypeDetail" parameterType="int" resultMap="productImageBean">
        select *
        from productImage_
        where pid = #{0} and type = 'type_detail'
    </select>

    <select id="listByPidAndTypeSingle" parameterType="int" resultMap="productImageBean">
        select *
        from productImage_
        where pid = #{0} and type = 'type_single'
    </select>

</mapper>