<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.mapper.PropertyValueMapper">
    <resultMap id="propertyValueBean" type="PropertyValue">
        <result column="ptid" property="ptid" />
        <association property="property" column="ptid" javaType="Property" select="com.tmall.mapper.PropertyMapper.get"/>
    </resultMap>
    <select id="list" resultMap="propertyValueBean">
        select *
        from propertyValue_
    </select>

    <insert id="insert" parameterType="PropertyValue" keyProperty="id" useGeneratedKeys="true">
        insert into propertyValue_
        values (null, #{pid}, #{ptid},#{value})
    </insert>

    <delete id="delete" parameterType="int">
        delete
        from propertyValue_
        where id = #{0}
    </delete>

    <update id="update" parameterType="PropertyValue">
        update propertyValue_
        <set>
            <if test="pid !=null">
                pid = #{pid},
            </if>
            <if test="value != null">
                value = #{value}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="get" parameterType="int" resultMap="propertyValueBean">
        select *
        from propertyValue_
        where id = #{0}
    </select>

    <select id="listByPid" parameterType="int" resultMap="propertyValueBean">
        select *
        from propertyvalue_
        where pid = #{pid}
    </select>

    <delete id="deleteByPid" parameterType="int">
        delete from propertyvalue_ where pid=#{pid}
    </delete>

    <delete id="deleteByPtid" parameterType="int">
        delete from propertyvalue_ where ptid=#{ptid}
    </delete>

</mapper>