<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.mapper.PropertyMapper">
    <resultMap id="propertyBean" type="Property">
        <result property="cid" column="cid"/>
        <association property="category" column="cid" javaType="Category" select="com.tmall.mapper.CategoryMapper.get"/>
    </resultMap>
    <select id="list" parameterType="int" resultMap="propertyBean">
        select *
        from property_
        where cid = #{0}
    </select>

    <insert id="insert" parameterType="Property" keyProperty="id" useGeneratedKeys="true">
        insert into property_
        values (null, #{cid}, #{name})
    </insert>

    <delete id="delete" parameterType="int">
        delete
        from property_
        where id = #{0}
    </delete>

    <update id="update" parameterType="Property">
        update property_
        set name = #{name}
        where id = #{id}
    </update>

    <select id="get" parameterType="int" resultMap="propertyBean">
        select *
        from property_
        where id = #{0}
    </select>

</mapper>